input, select {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  border: 0;
  border-radius: 20px 20px 5px 5px;
  padding-left: 10px;
  border-bottom: 2px solid black;
  width: 50%;
}

input[type="text"]:focus:invalid {
  border-bottom: 2px solid red;
}

input[type="text"]:focus:valid {
  border-bottom: 2px solid green;
}


input[type="text"], select {
  font-size: 1em;
}

#ans2_ans {
  display: flex;
  justify-content: center;
  width: 100%;
}

input[type="radio"] + label {
  cursor: pointer;
  margin-left: 20px;
}

input[type="radio"]:checked + label {
  font-weight: bolder;
  border-bottom: 2px solid cyan;
}

form {
  font-size: 1.5em;
}

textarea {
  border:1px solid #e0e0e0;
  max-height:50px;
  overflow-y:scroll;
  width: 100%;
  font-size: 1em;
}

#finalBtns {
  display: block;
  width: 100%;
  text-align: center;
}

.button {
  font-size: 1.2em;
  border: 0;
  border-radius: 20px;
  padding: 10px;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
        6px 6px 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
  opacity: 0.3;
        box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
          6px 6px 10px rgba(0, 0, 0, 0.2);
}

.button:active {
  opacity: 1;
        box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
          inset 8px 8px 16px rgba(0, 0, 0, 0.1);
}

.ans2_radio {
  flex: auto;
}

#content {
  display: flex;
}

form {
  flex: 1;
  max-width: 40%;
  text-align: center;
}

#result {
  max-width: 55%;
  margin-left: 5%;
  flex: 1;
}

#res_content {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px solid #71d2e3;
  border-radius: 20px;
  border-spacing: 0;
  flex-wrap: wrap;
}

.res_blocks {
  flex: 1;
  display: flex;
  align-items: center;
}

.res_blocks:not(:last-child):not(:first-child){
  border-bottom: 1px solid #71d2e3;
}

.res_blocks > div {
  flex: 1;
  padding: 5px;
  height: 100%;
}

.res_blocks:first-child > div {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  border-bottom: 2px solid #71d2e3;
}

.res_blocks > div:first-child {
  max-width: 40px;
}